.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 92%;
  max-width: 1200px;

  height: 64px;

  background: #1a1a1a;
  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.12);

  z-index: 50;
}
.nav-logo img {
  height: 50px;
}

/* logo centro */
.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

/* botón derecha */
.nav-cta {
  background: #fff;
  color: #1a1a1a;
  border: none;

  padding: 10px 18px;
  border-radius: 12px;

  font-weight: 600;
  cursor: pointer;

  transition: 0.2s;
}

.nav-cta:hover {
  background: #e0e0e0;
  transform: translateY(-1px);
}

/* iconos derecha */
.nav-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 40px;
  height: 40px;
  
  color: #fff;
  text-decoration: none;
  
  transition: all 0.3s ease;
  border-radius: 50%;
  background: transparent;
  
  padding: 0;
  border: none;
  cursor: pointer;
}

.nav-icon-link:hover {
  color: #888;
  transform: scale(1.1);
}

.nav-icon-link svg {
  width: 28px;
  height: 28px;
}

/* hamburguesa */
.nav-hamburger {
  width: 28px;
  height: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: none;
  border: none;
  cursor: pointer;
}

.nav-hamburger span {
  height: 2px;
  background: #fff;
  border-radius: 2px;
}

/* menú de navegación */
.nav-menu {
  display: flex;
  gap: 32px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #888;
}

/* cuando haces scroll */
.navbar-scrolled {
  top: 10px;
  transform: translateX(-50%);
}

/* logo texto */
.nav-logo-text {
  font-weight: 800;
  font-size: 18px;
  transition: opacity 0.3s;
  color: #fff;
  opacity: 0;
}

.navbar-scrolled .nav-logo-text {
  opacity: 1;
  animation: fadeInGR 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fadeInGR {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
